<header class="d-flex flex-row align-items-center justify-content-between p-3 
px-4 mb-3 border-bottom bg-white fixed-top shadow-sm">
    <a href="https://localhost:4200/"><img src="/assets/images/logo.png" alt="logo" style="max-height: 70px" ></a>
    <nav class="my-2 fs-4">
        <a class="p-2 link-body-emphasis text-decoration-none" href="https://localhost:4200/">หน้าหลัก</a>
        <a class="p-2 link-body-emphasis text-decoration-none" href="https://www.youtube.com">สินค้า</a>
        <a class="p-2 link-body-emphasis text-decoration-none" href="https://www.facebook.com/">เกี่ยวกับร้าน</a>
        <a class="p-2 link-body-emphasis text-decoration-none" href="#">ติดต่อ</a>   
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
          <a href="" class="btn btn-outline-secondary me-2">ล็อคอิน</a>
          <a href="" class="btn btn-outline-secondary me-3">สมัครสมาชิก</a>


    </div>



</header>